PyCity Schools Analysis

In [62]:
import pandas as pd
from pathlib import Path


# Create paths
schools_csv = Path("Resources/schools_complete.csv")
students_csv = Path("Resources/students_complete.csv")

# Create Data Frames
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

# Merge Data Frames together based on the school_name column
schools_merged_data = pd.merge(students_df, schools_df, how="left", on = ["school_name", "school_name"])

schools_merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [61]:
#Get a count of unique schools
school_count = schools_merged_data["school_name"].nunique()

school_count

15

In [44]:
#Get a count of the students
student_count = schools_merged_data["student_name"].count()
student_count

np.int64(39170)

In [45]:
total_budget = schools_merged_data.drop_duplicates(["budget"]).sum()
total_budget= total_budget["budget"]
total_budget

np.int64(24649428)

In [46]:
average_math = schools_merged_data["math_score"].mean()
average_math

np.float64(78.98537145774827)

In [47]:
average_reading = schools_merged_data["reading_score"].mean()
average_reading

np.float64(81.87784018381414)

In [48]:
passing_math_count = schools_merged_data[(schools_merged_data["math_score"] >= 70)].count()["student_name"]
passing_math_percent = passing_math_count / student_count * 100
passing_math_percent

np.float64(74.9808526933878)

In [49]:
passing_reading_count = schools_merged_data[(schools_merged_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent = passing_reading_count / student_count * 100
passing_reading_percent

np.float64(85.80546336482001)

In [50]:
passing_both_count = schools_merged_data[(schools_merged_data["math_score"] >= 70) & 
                                         (schools_merged_data["reading_score"] >= 70)].count()["student_name"]
passing_both_percent = passing_both_count / student_count *100
passing_both_percent

np.float64(65.17232575950983)

In [51]:
district_summary = pd.DataFrame([{"Total Schools": school_count, "Total Students": student_count, "Total Budget": total_budget,
                      "Average Math Score": average_math, "Average Reading Score": average_reading, "% Passing Math": passing_math_percent,
                      "% Passing Reading": passing_reading_percent, "% Overall Passing": passing_both_percent}])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [52]:
school_types = schools_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [69]:
student_group = schools_merged_data[["school_name", "student_name"]]
per_school_students = student_group.groupby(["school_name", "student_name"]).value_counts()
per_school_students

school_name         student_name
Bailey High School  Aaron Atkinson     1
                    Aaron Bailey       1
                    Aaron Carter       1
                    Aaron Clark        1
                    Aaron Cook         1
                                      ..
Wright High School  Zachary Baldwin    1
                    Zachary Cox        1
                    Zachary Evans      1
                    Zachary Jones      1
                    Zachary Smith      1
Name: count, Length: 38290, dtype: int64

In [71]:
school_group = schools_merged_data[["school_name", "budget"]]
per_school_budget= school_group.groupby(["school_name"])["budget"].sum()
per_school_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64