PyCity Schools Analysis

In [414]:
import pandas as pd
from pathlib import Path


# Create paths
schools_csv = Path("Resources/schools_complete.csv")
students_csv = Path("Resources/students_complete.csv")

# Create Data Frames
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

# Merge Data Frames together based on the school_name column
schools_merged_data = pd.merge(students_df, schools_df, how="left", on = ["school_name", "school_name"])

schools_merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [415]:
#Get a count of unique schools
school_count = schools_merged_data["school_name"].nunique()

school_count

15

In [416]:
#Get a count of the students
student_count = schools_merged_data["student_name"].count()
student_count

np.int64(39170)

In [417]:
total_budget = schools_merged_data.drop_duplicates(["budget"]).sum()
total_budget= total_budget["budget"]
total_budget

np.int64(24649428)

In [418]:
average_math = schools_merged_data["math_score"].mean()
average_math

np.float64(78.98537145774827)

In [419]:
average_reading = schools_merged_data["reading_score"].mean()
average_reading

np.float64(81.87784018381414)

In [420]:
passing_math_count = schools_merged_data[(schools_merged_data["math_score"] >= 70)].count()["student_name"]
passing_math_percent = passing_math_count / student_count * 100
passing_math_percent

np.float64(74.9808526933878)

In [421]:
passing_reading_count = schools_merged_data[(schools_merged_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent = passing_reading_count / student_count * 100
passing_reading_percent

np.float64(85.80546336482001)

In [422]:
passing_both_count = schools_merged_data[(schools_merged_data["math_score"] >= 70) & 
                                         (schools_merged_data["reading_score"] >= 70)].count()["student_name"]
passing_both_percent = passing_both_count / student_count *100
passing_both_percent

np.float64(65.17232575950983)

In [423]:
district_summary = pd.DataFrame([{"Total Schools": school_count, "Total Students": student_count, "Total Budget": total_budget,
                      "Average Math Score": average_math, "Average Reading Score": average_reading, "% Passing Math": passing_math_percent,
                      "% Passing Reading": passing_reading_percent, "% Overall Passing": passing_both_percent}])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [424]:
school_types = schools_df.set_index(["school_name"])["type"]

school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [425]:
student_group = schools_merged_data[["school_name", "student_name"]]
per_school_students = student_group.groupby(["school_name"])["student_name"].count()
per_school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [426]:
#per_school_budget = schools_df[["school_name", "budget"]]
per_school_budget = schools_df.groupby(["school_name"])["budget"].sum()
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [427]:
school_budget_per_capita = per_school_budget / per_school_students
school_budget_per_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [428]:
school_math_average = schools_merged_data[["school_name", "math_score"]]
school_math_average = school_math_average.groupby(["school_name"])[["math_score"]].mean()

school_reading_average = schools_merged_data[["school_name", "reading_score"]]
school_reading_average = school_reading_average.groupby(["school_name"])[["reading_score"]].mean()

school_math_average

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [429]:
students_passing_math = schools_merged_data[
    (schools_merged_data["math_score"] >= 70)]
students_passing_math = students_passing_math.groupby(["school_name"]).size()
students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [430]:
students_passing_reading = schools_merged_data[
    (schools_merged_data["reading_score"] >= 70)]
students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [431]:
students_passing_math_and_reading = schools_merged_data[
    (schools_merged_data["reading_score"] >= 70) & (schools_merged_data["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [432]:
per_school_math_rate = students_passing_math / per_school_students * 100
per_school_reading_rate = students_passing_reading / per_school_students * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_students * 100

In [433]:
per_school_summary = pd.DataFrame({"School Type":school_types, "Total Students": per_school_students, "Total School Budget": per_school_budget, 
                                   "Per Student Budget": school_budget_per_capita, "Average Math": school_math_average["math_score"], 
                                   "Average Reading": school_reading_average["reading_score"], "% Passing Math": per_school_math_rate, 
                                   "% Passing Reading": per_school_reading_rate, "% Overall Passing": overall_passing_rate})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary.index.name = None

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

Highest-Performing Schools (by % Overall Passing)

In [434]:
top_schools = per_school_summary.sort_values(by = "% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

Highest-Performing Schools (by % Overall Passing)

In [435]:
bottom_schools = per_school_summary.sort_values(by = "% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

Math Scores by Grade

In [436]:
ninth_graders = schools_merged_data[(schools_merged_data["grade"] == "9th")]
tenth_graders = schools_merged_data[(schools_merged_data["grade"] == "10th")]
eleventh_graders = schools_merged_data[(schools_merged_data["grade"] == "11th")]
twelfth_graders = schools_merged_data[(schools_merged_data["grade"] == "12th")]

ninth_graders_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_graders_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_graders_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

math_scores_by_grade = pd.DataFrame({"Ninth Grade Math": ninth_graders_math_scores, "Tenth Grade Math": tenth_graders_math_scores, 
                                     "Eleventh Grade Math": eleventh_graders_math_scores, "Twelfth Grade Math": twelfth_graders_math_scores})
math_scores_by_grade.index.name = None

math_scores_by_grade

,Ninth Grade Math,Tenth Grade Math,Eleventh Grade Math,Twelfth Grade Math
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

Reading Scores by Grade

In [437]:
ninth_graders_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_graders_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_graders_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_graders_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame({"Ninth Grade Reading": ninth_graders_reading_scores, "Tenth Grade Reading": tenth_graders_reading_scores, 
                                     "Eleventh Grade Reading": eleventh_graders_reading_scores, "Twelfth Grade Reading": twelfth_graders_reading_scores})
reading_scores_by_grade.index.name = None

reading_scores_by_grade

,Ninth Grade Reading,Tenth Grade Reading,Eleventh Grade Reading,Twelfth Grade Reading
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

Scores by School Spending

In [438]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [439]:
school_spending_df = per_school_summary.copy()

school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].apply(lambda x: float(x.split()[0].replace('$', '')))

school_spending_df["Per Student Budget"].astype(float)

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], 
                                                             spending_bins, labels= labels, include_lowest=True)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [441]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\mrybi\AppData\Local\Temp\ipykernel_33376\451934450.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math"].mean()
C:\Users\mrybi\AppData\Local\Temp\ipykernel_33376\451934450.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading"].mean()
C:\Users\mrybi\AppData\Local\Temp\ipykernel_33376\451934450.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\mrybi\AppData\Local\Temp\ipykernel_33376\451934450.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\mrybi\AppData\Local\Temp\ipykernel_33376\451934450.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [443]:
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores, 
                                 "% Passing Math": spending_passing_math, "% Passing Reading": spending_passing_reading, 
                                 "% Passing Overall": overall_passing_spending})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

Scores by School Size